/*div#myBox {
    position:absolute;
    background-color:red;
    z-index:auto;
}*/

@-webkit-keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
.one { 
    width: 100%; 
    height: 768px;
    background-image: url("http://www.clker.com/cliparts/s/E/z/g/z/V/cloud-md.png");
    background-position: 0px 0px;
    background-repeat: repeat-x;
    position: relative;
    z-index: auto;

    animation: animatedBackground 20s linear infinite;
    -ms-animation: animatedBackground 20s linear infinite;
    -moz-animation: animatedBackground 20s linear infinite;
    -webkit-animation: animatedBackground 20s linear infinite;
}

.two { 
    width: 100%; 
    height: 768px;
    background-image: url("http://www.clker.com/cliparts/s/E/z/g/z/V/cloud-md.png");
    background-position: 0px 0px;
    background-repeat: repeat-x;
    position: relative;
    z-index: 1;

    animation: animatedBackground 20s linear infinite;
    -ms-animation: animatedBackground 20s linear infinite;
    -moz-animation: animatedBackground 20s linear infinite;
    -webkit-animation: animatedBackground 20s linear infinite;
}